.about-us{
    width: 100%;
   min-height: 100vh;
  background-color:rgb(20, 35, 37);
  background-image: url('/images/table2.jpg') ;
  background-attachment: fixed;
   
}
.title{

    

    font-size: 5vh;
    text-decoration: underline;
    text-decoration-thickness:2px ;

}
.container{
    width: 80%;
    margin: auto;
    padding-top: 70px;
    display: block;
    color: aliceblue;
}

.content{
    padding-left: 15px;
    float: left;
    width: 55%;
    word-spacing: 3px;
}

.content h4{
    padding-top: 20px;
}
.content p{
    padding-top: 20px;
    margin-bottom: 35%;
}


.social{
    width: 68%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    
    
}

.social a{
   
    padding: 25px;
    font-size: 15px;
    color: rgb(69, 109, 145);
}

.image-section{
    float: right;
    width: 30%;
}

.image-section img{
    width: 100%;
    height: auto;
    top: 0;
   
}
