.about-us{
    
    height: 35vw;
    background-color: black;
    padding-top: 50px;
    padding-left: 13%;
}
.about-us .head{
    font-size: 45px;
    color: aliceblue;
    font-weight: 600;
}
.about-us .about-text{
    color: aliceblue;
    padding-top: 20px;
    height: 300px;
    width: 500px;
    font-size: 20px;
    word-spacing: 5px;
   
}
.about-text p{
    margin: 20px;
    float: left;
}

.about-us .contact{
    color: aliceblue;
    top: 0;
    
    font-size: 15px;
    float: right;
    
}

.contact .fa-solid{
    font-size: 30px;
    padding: 15px;
    display: inline;
}




