@import url('http://fonts.googleapis.com.css?family=Oswald:400,700');


/* -------------branches page ------------ */
.branch{
  margin: 0;
 
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.3) ), url('/images/a.jpg') ;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding';
  padding-bottom: 3%;
  

 

}

.branches
{
padding: 7%;
text-align: center;
display: flex;
justify-content: space-between;







}

.text{
 padding-top: 28%;
 color: white;
 cursor: pointer;

 
 
}

.text:hover{
 
  zoom: 105%;
}




.text p{
  padding: 30%;
 
}

.text a{
  color: aliceblue;
  text-decoration: none;
}



.branch1{
  background-image: url("/images/2.webp");
  border-radius: 20px;
  min-height: 67vh;
  width: 50vh;


}

.branch2{
  background-image: url("/images/5.jpeg");
  border-radius: 20px;
  min-height: 67vh;
  width: 50vh;
}

.branch3{
  background-image: url("/images/3.webp");
  min-height: 67vh;
  border-radius: 20px;
  width: 50vh;
}

/* -----------branch page----------- */