@import url('http://fonts.googleapis.com.css?family=Oswald:400,700');

.branch{
  margin: 0;
 
  background-color: rgb(48, 55, 85);
  box-sizing: border-box;
  font-family: Copperplate, Papyrus, fantasy;
  padding-bottom: 3%;
  

 

}

.branches
{
padding: 7%;
text-align: center;
display: flex;
justify-content: space-between;







}

.text{
 padding-top: 28%;
 color: white;

 
 
}

.text:hover{
 
  zoom: 105%;
}




.text p{
  padding: 30%;
 
}

.text a{
  color: aliceblue;
  text-decoration: none;
}



.branch1{
  background-image: url("/images/2.webp");
  border-radius: 20px;
  min-height: 67vh;
  width: 50vh;


}

.branch2{
  background-image: url("/images/5.jpeg");
  border-radius: 20px;
  min-height: 67vh;
  width: 50vh;
}

.branch3{
  background-image: url("/images/3.webp");
  min-height: 67vh;
  border-radius: 20px;
  width: 50vh;
}

/* .branch ul{
  transform:skew(-15deg) ;
  position: relative;
}
.branch ul li{
  position: relative;
  list-style: none;
  width: 200;
  background: rgb(37, 17, 17);
  padding: 15px;
  z-index: var(--i);

}
.branch ul li a{
  text-decoration: none;
  color: rgb(236, 224, 224);
  display: block;
  text-transform: uppercase;
  letter-spacing: 00.05em;
  transition: 0.5s;
}
.branch ul li ::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: rgb(28, 13, 13);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;

}
.branch ul li:hover ::before{
  background: red;
}

.branch ul li ::after{
content: '';
position: absolute;
top: -40px;
left: 0;
width: 100%;
height: 40px;
background: rgb(30, 10, 10);
transform-origin: bottom;
transform:  skewX(45deg);
transition: 0.5s;

}
.branch ul li:hover ::after{
  background: red;
  
}
.branch ul li a{
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;

  
}
.branch ul li:hover {
  color: aqua;
  background: red;
  transform: translateX(50px);


} */