
.text-box{

  text-shadow: 3px 5px #5c423c;
    width: 90%;
    color: rgb(101, 173, 105);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0.8;
    
    
   
  }

 
  
  .text-box p{
    font-size: 3.5vw;
   
  
  }
  
  .text-box h1{
    font-size: 6vw;
    margin: 10px 0 40px;
  }

