* {
    margin: 0;
    padding: 0;

}

.hero-btn {
    
    text-decoration: none;
    color: azure;
    border: 1px solid rgb(153, 131, 131);
    padding: 3px 30px;
    font-size: 3.5vh;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 300px;
    font-family: Courier New, monospace;
    
    
    
  }
  
  
  .hero-btn:hover{
    background-color: rgb(244, 250, 255);
    transition: 1s;
    color: rgb(24, 26, 23);
  }
  



/* -----------Header Section----------------- */
.heading {
    padding: 3%;
    font-size: 4vh;
    text-decoration-thickness: 3px;
    font-weight: 600px;
    color: aliceblue;
    text-align: center;
   
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(2, 2, 2, 0.7), rgba(15, 14, 14, 0.7)),
        url("../images/background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    transition: 20s;
    
    animation-name: ak;
    animation-direction: alternate-reverse ;
    animation-duration: 25s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    
}

@keyframes ak{
    0%{
        background-image: url("../images/1.png");
    }
    20%{
        background-image: url("../images/2.webp");
    }
    40%{
        background-image: url("../images/3.webp");
    }
    60%{
        background-image: url("../images/4.webp");
    }
    80%{
        background-image: url("../images/5.jpeg");
    }
}


.nav-bar {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 11, 49, 0.8);
    padding: 20px;
    justify-content: space-between;
    overflow: auto;
    text-align: right;
    z-index: 100;
    right: 0;

}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-family: 'Nanum Gothic Coding';
    font-size: 15px;
}
.nav-bar ul li a {
    text-decoration: none;
    color: rgb(225, 233, 241);
    text-transform: uppercase;
}
.nav-bar ul li a:active {
    color: rgb(158, 240, 76);
  
    
}
.nav-bar ul li.active{
    color: rgb(179, 100, 64);
}

.nav-bar ul li::after {
    content: "";
    height: 1px;
    width: 0;
    background-color: chartreuse;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 1s;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

/* --------for media------- */
.nav-bar i.fa-times {
    display: none;
    color: aliceblue;
}
.header .fa-solid {
    display: none;
    color: aliceblue;
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    #navLinks {
        right: -200px;
        position: absolute;
        height: 100vh;
        width: 150px;
        text-align: left;
        padding: 2px;
        top: 0;
        z-index: 2;
        background-color: black;
    }
    .nav-bar li {
        padding: 10px;
        justify-content: space-around;
    }
    .header .fa-solid {
        display: block;
        color: aliceblue;
        float: right;
        margin: 50px 20px;
        cursor: pointer;
    }
    .nav-bar i.fa {
        display: block;
        color: aliceblue;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-bar li a i.fa {
        display: none;
    }
}
