* {
   margin: 0;
   padding: 0;
   
   
}

/* -----------Header Section----------------- */

.header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.3) ), url('../images/background.jpg') ;
  background-size: cover;
   background-position: center;
  margin: 0;
  padding: 20px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;

}
@import url('http://fonts.googleapis.com.css?family=Oswald:400,700');
.branch
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  display: flex;
  margin-top: 180px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;



}
.branch ul{
  transform:skew(-15deg) ;
  position: relative;
}
.branch ul li{
  position: relative;
  list-style: none;
  width: 200;
  background: rgb(37, 17, 17);
  padding: 15px;
  z-index: var(--i);

}
.branch ul li a{
  text-decoration: none;
  color: rgb(236, 224, 224);
  display: block;
  text-transform: uppercase;
  letter-spacing: 00.05em;
  transition: 0.5s;
}
.branch ul li ::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: rgb(28, 13, 13);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;

}
.branch ul li:hover ::before{
  background: red;
}

.branch ul li ::after{
content: '';
position: absolute;
top: -40px;
left: 0;
width: 100%;
height: 40px;
background: rgb(30, 10, 10);
transform-origin: bottom;
transform:  skewX(45deg);
transition: 0.5s;

}
.branch ul li:hover ::after{
  background: red;
  
}
.branch ul li a{
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;

  
}
.branch ul li:hover {
  color: aqua;
  background: red;
  transform: translateX(50px);


}




/* ----------------Content Section--------------- */

.text-box{
  width: 90%;
  color: rgb(147, 156, 165);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  
  
}

.text-box p{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;

}

.text-box h1{
  font-size: 80px;
  margin: 10px 0 40px;
  color: red;
  text-decoration-color: red;
  text-decoration: overline;

}

.hero-btn {
  
  text-decoration: none;
  color: azure;
  border: 1px solid rgb(153, 131, 131);
  padding: 10px 30px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  
  
  
  
}


.hero-btn:hover{
  background-color: rgb(166, 179, 189);
  transition: 1s;
  color: rgb(24, 26, 23);
}


/* -------------booktable----------- */
/* .event{
  margin-top: 20px;
} */
.book-table{
  background-image: linear-gradient(rgb(18, 7, 52), rgb(63, 28, 62)),url(background.jpj);
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.booktable-row{
  padding-top: 40px;
  display: inline-table;
  text-align: center;
  margin: 3%;
  
  

}

.booktable-row img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.booktable-row h1{
  font-size: 30px;
  color: rgb(206, 219, 231);
  font-weight: 600;
}

.booktable-row p{
  color: rgb(147, 156, 165);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


/* -----------SERVICES SECTION-------------- */

.services {
  
  width: 100%;
  padding-top: 100px;
  background-size: cover;
  background-image: linear-gradient( rgb(63, 28, 62),rgb(11, 11, 11)),url(background.jpj);
  text-align: center;
  color: aliceblue;
}

.heading{
  padding:50px;
  font-size: 30px;
  text-decoration-thickness: 5px;
  font-weight: 600px;
  color: aliceblue;


  
}

.services-row {
margin: 3%;
 display: inline-block;
 border: solid white;
 border-radius: 10px ;
 padding: 2%;
 color:wheat;
 
    
}

.services-row a{
  text-decoration-thickness: 2px;
  margin: 2%;
  color: aliceblue;
  
  
}


/* ---------------Gallery Section----------- */

.gallery {

 
  background-image: linear-gradient(rgb(3, 3, 21),rgb(4, 35, 17)),url(background.jpj);

}

.gallery img{
  margin: 10px;
  margin-left: 20px;
  height: 200px;
  width: 30% ;
  flex-basis: 5;
  border-radius: 20px;
  cursor: zoom-in;
 
}

.gallery img:hover{
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
  transition: 2s;

}


.gallery h1{
  padding-top: 50px;
  margin-left: 70px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  color: rgb(210, 220, 228);
}


/* ------------Footer Section------------ */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-image: linear-gradient(rgb(32, 6, 65),rgba(0,0,0.5)),url(background.jpj);
  color: aliceblue;
}

#address {
  float: left;
  margin-left: 200px;
  
}

#phone{
  float: right;
  margin-right: 200px;
}

.icons{
 margin: 100px 0 50px 0;
 padding-left: 13px;
 justify-content: space-between;
  
}

.info-bar{
  
  font-size: 25px;
  font-weight: 600;
  

}

#bholenath{
  margin-top: 30px;
  font-size: 13px;
}

