
.services {
  
    width: 100%;
    background-image: url('/images/b.jpg') ;
    text-align: center;
    color: aliceblue;
    background-attachment: fixed;
  }
  
  .heading{
    padding:50px;
    font-size: 30px;
    text-decoration-thickness: 5px;
    font-weight: 600px;
    color: aliceblue;
  
  
    
  }
  
  .services-row {
  margin: 3%;
   display: inline-block;
   border: solid white;
   border-radius: 10px ;
   padding: 2%;
   color:wheat;
   
      
  }
  
  .services-row a{
    text-decoration-thickness: 2px;
    margin: 2%;
    color: aliceblue;
    
    
  }
  
  
